.text{
display: flex;
flex-direction: column;
align-items: start;
margin-left: 20px;
flex-grow: 6;
}

.mainCtn{
display : flex;
flex-direction: column;
}

h3{
    text-align: center;
    margin-bottom: 0;
}

.content {
    padding: 2px;
    font-size: 14px;
    border: 2px solid #1A1A1A;
     border-radius: 15px;
     box-sizing: content-box;
     width: 80%;
     margin-bottom: 10px;
     padding-left: 20px;
     background-color: #e9e4f5;
     


}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 50px;
  
  }


.iconeCtn a {
  
  display: flex;
  justify-content: end; 
  align-items: center;

  width: 12vw; 
  block-size: fit-content;
 right:20px;


}


 
.team{
display: flex;
align-items: center;
flex-direction: column;
}

.img{
    width: 8%;
    height: 8%;
    border: 2px solid #1A1A1A;
    
}

.icone{
    width:  20%;
  
}

.iconeCtn{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-right: 20px;;
    
}



.title{
  padding: 2px;
  font-size: 14px;
   box-sizing: content-box;
   width: 80%;
   
   padding-left: 20px;
  

}



