
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    height: 60px;
    
  }
  .logoContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    left:0;
  }
  
  .logo {
    width: 55px; 
    height: auto;
    margin-left: 30px;
    cursor:pointer;      
  }