.toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    height: auto;
    color: black;
    background-color:white;
    border-radius: 20px;
    padding-bottom: 30px;
    filter: drop-shadow(5px 5px 10px #516594);
}

h2 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding: 0px;
    width: 80%;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
}

.itemTask {
    text-align: left;
    height: auto;
    width: 100%;
}

.btnEdit {
    color: #3941C6;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    margin-left: auto;
    margin-right: 30px;
}

.btnDelete  {
    color: #3941C6;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    margin-left: 0;
}

.btnBack  {
    color: #3941C6;
    border: none;
    padding: 0;
    margin-left: 0;
    background-color: transparent;
    margin-top: 20px;
}

span {
    font-family: 'Open Sans', sans-serif;
}

form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
    gap: 10px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 8;
}

input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}


.btnAddTask  {
    color: #3941C6;
    border: none;
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;  
}

.editLabel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-left: -10px;
}

.editInput {
    flex-grow: 0.6;
    padding: 10px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.saveBtn {
    border: none;
    color: #3941C6;
    background-color: transparent;
    cursor: pointer; 
    width: auto;
    margin-left: 0;
    padding-right: 0;
}
