.toDoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    max-width: 600px;
    color: black;
    background-color: yellow;
    border-radius: 20px;
    position: absolute;
    padding-bottom: 30px;
}

ul {
    padding: 0px;
    width: 80%;
}

.listItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
}

.itemTask{
    text-align: left;
    flex: 8;
    height: auto;
    width: 100%;
}

/*
.btnTask{
    width: 100px;
    height: 35px;
    border: none;
    padding: 2%;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #7091F5;
    color: #5f3d8f;
}*/

.btnTask  {
    color: #5f3d8f;
    border: none;
    padding: 0;
    margin-left: 0;
    background-color: transparent;
}

.btnBack  {
    color: #5f3d8f;
    border: none;
    padding: 0;
    margin-left: 0;
    background-color: transparent;
    margin-top: 20px;
}

span {
    font-weight: bold;
}
/*
.btnBack{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border: none;
    padding: 2%;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #7091F5;
    color: #5f3d8f;
}*/


form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
    gap: 10px;
}

label {
    display:flex;
    align-items:center;
    justify-content:center;
    flex: 8;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
    font-size: 1rem;
}

.btnAddTask  {
    color: #5f3d8f;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    margin-left:auto;
}
/*
.btnAddTask {
    width: 100px;
    height: 35px;
    border: none;
    padding: 2%;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #7091F5;
    color: #5f3d8f;
    margin-left: auto;
}*/
