
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6a89f0;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  position: fixed;
}
  
.logoContainer {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%; 
}
  
.logo {
  width: 50px; 
  height: auto;
  margin-right: 40px;
}
  