.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    background-color:red;
    margin: 0;
    height: 70vh;
    position: absolute;
    top: 100px; /* same as navbar height */
    bottom: 100px; /* same as footer height */
}

/* 
.navbar {
  position: fixed;
  top: 0;
  height: 50px; 
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px; 
}*/

.sidebarDiv {
    display: flex; 
    height: 300px;
    width: 200px;
    display:flex;
    justify-items: center;
    flex-direction:row;
}

.sidebarText {
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.sidebarText:hover {
    cursor: pointer;
    background-color: #a5b9e8;
}



