.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#793FDF;
    width: 12%;
    min-width: 150px;
    position: fixed;
    top: 80px; /* check this again temp. solution*/
    bottom: 60px; /* same as footer height */
    left: 0;
}

/* 
.navbar {
  position: fixed;
  top: 0;
  height: 50px; 
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px; 
}*/

.sidebarDiv {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarText {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}

.sidebarText:hover {
    cursor: pointer;
    background-color: #a5b9e8;
    color: black;
}



