.toDoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    color: black;
    height: auto;
    top: 500px;
    left: 500px;
    background-color: yellow;
    margin-left: 300px;
    margin-top: 300px;
    border-radius: 20px;
    
}

.listItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 500px;
    height: auto;
    font-size: 1em;
}

.itemTask{
    flex: 7;
    
}

.btnTask{
    width: 120px;
    height: auto;
    flex: 3;
}
