html, body {
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin:0;
  background-color: #EEEEEE;
  /*font-family: 'Sometype Mono', monospace;*/
  font-family: 'Segoe UI', 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
 
.middleCtn{
  display: flex;
  width: 100%;
  top: 80px;
  bottom: 80px;
  position: absolute;
  z-index: 1;
}

.pageCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88vw;
  position: relative;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}


/*#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  display: flex;
}

Other families to use with current link:
  font-family: 'Abel', sans-serif;
  font-family: 'Big Shoulders Stencil Display', sans-serif;
  font-family: 'Roboto', sans-serif;
